section.about-section#about
	.container
		.about-info
			h2.section-title(data-aos="fade-up" data-aos-duration="1000") About us
			p.about-text(data-aos="fade-up" data-aos-duration="1500") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
		
		.slider-wrap
			.about-slider.js-about-slider
				.slick-slide
					.slide
						img(src="images/slide1.png", alt="")
				.slick-slide
					.slide
						img(src="images/slide1.png", alt="")
				.slick-slide
					.slide
						img(src="images/slide1.png", alt="")