.nice-select {
	width: 100% !important;
	border-radius: 8px !important;
	background-color: $input-bg!important;
	color: $placeholder-color!important;
	font-size: 14px !important;
	font-weight: 400 !important;
	padding: 17px 10px !important;
	border: none!important;
	height: 50px!important;
	margin-bottom: 30px;
	
	&:after {
	
	}

	.current {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.list {
		width: 100% !important;
		position: absolute !important;
	}
}
