section.program-section#blog
	.container
		h2.section-title Yoga FEATURE PROGRAM
		h3.descr-title Our Classes
		.program-wrap
			article.program(data-aos="fade-up" data-aos-duration="1000")
				.program__wrap
					.program__img
						img(src="images/yoga1.png", alt="")
					.program__info
						h3.program__name Yoga For Health
						p.program__descr Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
						span.program__type Ashtanga - Hatha
			
			article.program(data-aos="fade-up" data-aos-duration="1000")
				.program__wrap
					.program__img
						img(src="images/yoga2.png", alt="")
					.program__info
						h3.program__name Yoga For Lose Weight
						p.program__descr Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
						span.program__type Ashtanga - Hatha
			
			article.program(data-aos="fade-up" data-aos-duration="1000")
				.program__wrap
					.program__img
						img(src="images/yoga3.png", alt="")
					.program__info
						h3.program__name Yoga For Children
						p.program__descr Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
						span.program__type Ashtanga - Hatha
			
			article.program(data-aos="fade-up" data-aos-duration="1000")
				.program__wrap
					.program__img
						img(src="images/yoga4.png", alt="")
					.program__info
						h3.program__name Yoga For Elderly
						p.program__descr Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
						span.program__type Ashtanga - Hatha