.gallery-section {
	padding: 50px 0;

	@media screen and (min-width: 768px) {
		padding: 50px 0 75px;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	.gallery-img {
		width: 50%;
		overflow: hidden;
		position: relative;

		@media screen and (min-width: 560px) {
			width: 33.33%;
		}

		@media screen and (min-width: 768px) {
			width: 25%;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-color: $title-color;
			transition: $base-transition;
		}
		&:hover {
			&:after {
				opacity: 0.8;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}