extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		include ../blocks/sections/program-section/program-section
		include ../blocks/sections/gallery-section/gallery-section
		include ../blocks/sections/about-section/about-section
		include ../blocks/sections/element-section/element-section
		include ../blocks/sections/shop-section/shop-section

block footer
	include ../blocks/footer/footer