extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		include ../blocks/sections/about-section/about-section
		include ../blocks/sections/program-section/program-section

block footer
	include ../blocks/footer/footer