section.element-section.mask-bg#elements(style="background-image: url('images/el-bg.png');")
	.container
		.element-wrap
			.element
				.element__wrap
					.element__img
						img(src="images/el1.png", alt="")
					h3.element__name IMPROVED OVERALL HEALTH
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el2.png", alt="")
					h3.element__name INCREASED CONCENTRATION
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el3.png", alt="")
					h3.element__name BLANCE YOUR MIND
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el4.png", alt="")
					h3.element__name SLEEP BETTER
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el5.png", alt="")
					h3.element__name WEIGHT LOSS
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el6.png", alt="")
					h3.element__name STRENGTHENS YOUR BONES
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el7.png", alt="")
					h3.element__name INCREASED FLEXIBILITY
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			.element
				.element__wrap
					.element__img
						img(src="images/el8.png", alt="")
					h3.element__name LOWER BLOOD PRESSURE
					p.element__descr Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.


								