section.reviews-section(style="background-image: url('images/rev-bg.png');")
	.container
		.reviews-slider.js-reviews-slider
			.slick-slide
				.review
					.review__wrap
						.review__img
							img(src="images/rev1.png", alt="photo")
						.review__content
							p.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
							span.review__position Trainer
							h3.review__name Laura Shepard
			.slick-slide
				.review
					.review__wrap
						.review__img
							img(src="images/rev2.png", alt="photo")
						.review__content
							p.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
							span.review__position Trainer
							h3.review__name Sara Taylor
			.slick-slide
				.review
					.review__wrap
						.review__img
							img(src="images/rev1.png", alt="photo")
						.review__content
							p.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
							span.review__position Trainer
							h3.review__name Laura Shepard
			.slick-slide
				.review
					.review__wrap
						.review__img
							img(src="images/rev1.png", alt="photo")
						.review__content
							p.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
							span.review__position Trainer
							h3.review__name Laura Shepard

		.user-slider.js-slider-nav
			.slick-slide
				.user
					.user__wrap
						.user__img
							img(src="images/rev2.png", alt="photo")
						.user__content
							h3.user__name Sara Taylor
							span.user__position Trainer
			.slick-slide
				.user
					.user__wrap
						.user__img
							img(src="images/rev2.png", alt="photo")
						.user__content
							h3.user__name Sara Taylor
							span.user__position Trainer
			.slick-slide
				.user
					.user__wrap
						.user__img
							img(src="images/rev2.png", alt="photo")
						.user__content
							h3.user__name Sara Taylor
							span.user__position Trainer
			.slick-slide
				.user
					.user__wrap
						.user__img
							img(src="images/rev2.png", alt="photo")
						.user__content
							h3.user__name Sara Taylor
							span.user__position Trainer
						
		