.reviews-section {
	padding: 0 0 50px;
	margin: 0 -15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 100%;

	@media screen and (min-width: 768px) {
		padding: 50px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 106px 0;
	}

	@media screen and (min-width: 1500px) {
		background-size: 58%;
		background-position: 100% 45%;
	}
}