header.header
	.container
		a(href="index.html").logo
			img(src="images/logo.png", alt="")

		nav.nav.js-nav
			ul.nav__list
				li.nav__item
					a(href="#about").nav__link.scroll-link.active About us
				li.nav__item
					a(href="#reservation").nav__link.scroll-link Reservation
				li.nav__item
					a(href="#gallery").nav__link.scroll-link Gallery
				li.nav__item
					a(href="#blog").nav__link.scroll-link Blog 
				li.nav__item
					a(href="#elements").nav__link.scroll-link Elements
				li.nav__item
					a(href="#shop").nav__link.scroll-link Shop
		
		.burger.js-burger
			span
			span
			span