footer.footer
	.top-footer
		.container
			.info-wrap
				h3.info-title About
				p.info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
				ul.soc
					li.soc__item
						a(href="#").soc__link
							img(src="images/soc1.png", alt="")
					li.soc__item
						a(href="#").soc__link
							img(src="images/soc2.png", alt="")
					li.soc__item
						a(href="#").soc__link
							img(src="images/soc3.png", alt="")
					li.soc__item
						a(href="#").soc__link
							img(src="images/soc4.png", alt="")
					li.soc__item
						a(href="#").soc__link
							img(src="images/soc5.png", alt="")
			
			.info-wrap
				h3.info-title CONTACT US
				.contact-wrap
					.contact
						.contact-img
							img(src="images/contact1.png", alt="")
						.contact-info
							p 5419 Joseph Mountains Apt. 716
					.contact
						.contact-img
							img(src="images/contact2.png", alt="")
						.contact-info
							a(href="mailto:joga.info@example.com") joga.info@example.com
					.contact
						.contact-img
							img(src="images/contact3.png", alt="")
						.contact-info
							a(href="tel:+123456789") +1 234 567 89
							a(href="tel:+123467890") +1 234 678 90
					.contact
						.contact-img
							img(src="images/contact4.png", alt="")
						.contact-info
							a(href="www.example.com") www.example.com
							
	.bottom-footer
		.container
			p.copyright Copyright ©  2016-2017 Yoga classes