.reviews-slider {
	position: relative;
	margin: 0 auto 25px;

	.slick-arrow {
		top: calc(50% - 15px);
	}

	.slick-track {
		padding: 25px 0;
	}

	.slick-list {
		margin: 0 -15px;
	}
}

.slick-arrow {
	padding: 0;
	display: block;
	position: absolute;
	z-index: 1;
	width: 20px;
	height: 33px;
	transition: all .3s ease;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.slick-prev {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='33' viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.719577 18.1337L15.8057 32.3227C16.7654 33.2258 18.3213 33.2258 19.2805 32.3227C20.2398 31.4204 20.2398 29.9571 19.2805 29.0549L5.93161 16.4998L19.2802 3.94507C20.2394 3.04245 20.2394 1.57922 19.2802 0.676966C18.3209 -0.225656 16.765 -0.225656 15.8054 0.676966L0.719188 14.8662C0.239551 15.3176 3.41548e-06 15.9085 3.32976e-06 16.4997C3.244e-06 17.0912 0.240018 17.6825 0.719577 18.1337Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
	left: -45px;

	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='33' viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.719577 18.1337L15.8057 32.3227C16.7654 33.2258 18.3213 33.2258 19.2805 32.3227C20.2398 31.4204 20.2398 29.9571 19.2805 29.0549L5.93161 16.4998L19.2802 3.94507C20.2394 3.04245 20.2394 1.57922 19.2802 0.676966C18.3209 -0.225656 16.765 -0.225656 15.8054 0.676966L0.719188 14.8662C0.239551 15.3176 3.41548e-06 15.9085 3.32976e-06 16.4997C3.244e-06 17.0912 0.240018 17.6825 0.719577 18.1337Z' fill='%23774CDA'/%3E%3C/svg%3E%0A");
	}
}

.slick-next {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='33' viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2804 14.8663L4.19425 0.677296C3.23458 -0.225765 1.67865 -0.225765 0.719458 0.677296C-0.239817 1.57955 -0.239817 3.04292 0.719458 3.94511L14.0684 16.5002L0.719844 29.0549C-0.23943 29.9575 -0.239431 31.4208 0.719844 32.323C1.67912 33.2257 3.23497 33.2257 4.19463 32.323L19.2808 18.1338C19.7604 17.6824 20 17.0915 20 16.5003C20 15.9088 19.76 15.3175 19.2804 14.8663Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
	right: -45px;

	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='33' viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2804 14.8663L4.19425 0.677296C3.23458 -0.225765 1.67865 -0.225765 0.719458 0.677296C-0.239817 1.57955 -0.239817 3.04292 0.719458 3.94511L14.0684 16.5002L0.719844 29.0549C-0.23943 29.9575 -0.239431 31.4208 0.719844 32.323C1.67912 33.2257 3.23497 33.2257 4.19463 32.323L19.2808 18.1338C19.7604 17.6824 20 17.0915 20 16.5003C20 15.9088 19.76 15.3175 19.2804 14.8663Z' fill='%23774CDA'/%3E%3C/svg%3E%0A");
	}
}