section.shop-section
	.container
		.shop-wrap
			.price
				.price__wrap
					.price__head
						span.price__currency $
						span.price__count 49
						span.price__period / month
					.price__body
						ul.price__list
							li.price__item ENTRY DATE: MON – FRI
							li.price__item ENTRY TIME: 8A.M – 8P.M
							li.price__item NUTRITION ADVICER: NO
						a(href="#").price__btn Buy now
			
			.price
				.price__wrap
					.price__head
						span.price__currency $
						span.price__count 69
						span.price__period / month
					.price__body
						ul.price__list
							li.price__item ENTRY DATE: MON – FRI
							li.price__item ENTRY TIME: 8A.M – 8P.M
							li.price__item NUTRITION ADVICER: YES
						a(href="#").price__btn Buy now
			
			.price
				.price__wrap
					.price__head
						span.price__currency $
						span.price__count 99
						span.price__period / month
					.price__body
						ul.price__list
							li.price__item ENTRY DATE: MON – SUN
							li.price__item ENTRY TIME: 8A.M – 8P.M
							li.price__item NUTRITION ADVICER: YES
						a(href="#").price__btn Buy now
					

